numpy 
tqdm
librosa
soundfile
wandb

torch==2.0.1 --index-url https://download.pytorch.org/whl/cu124
torchaudio==2.0.2 --index-url https://download.pytorch.org/whl/cu124
torchvision==0.15.2 --index-url https://download.pytorch.org/whl/cu124
mamba-ssm==1.2.0.post1
causal-conv1d==1.1.1
speechbrain==1.0.0
